* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@font-face {
  font-family: 'Cocogoosetrial';
  src: url('./fonts/Cocogoosetrial.eot');
  src:
    url('./fonts/Cocogoosetrial.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Cocogoosetrial.woff2') format('woff2'),
    url('./fonts/Cocogoosetrial.woff') format('woff'),
    url('./fonts/Cocogoosetrial.ttf') format('truetype'),
    url('./fonts/Cocogoosetrial.svg#Cocogoosetrial') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.cocogoose {
  font-family: 'Cocogoosetrial', sans-serif;
  padding-top: 8%;
}

.navbar {
  background-color: #f8f9fa;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.background-intro {
  background: url(./images/background-mobile2.png) no-repeat;
 
  background-position: center;
  
  background-size: cover;
  height: 100vh;
  
  
  
}

.nav-desktop {
  display: none;
}

.nav-desktop2 {
  display: none;
}

.h2-intro {
  font-size: 23px;
  color: #ec5242;
}

.h1-intro {
  font-size: 42px;
  color: #ec5242;
}

.containerpro-1 {
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
   
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
   
  padding: 20px;
  margin: 69px 23px 60px 12px;

 
  border: 2px solid #8080804d;
  background-color: #f8f9fa;
}

.containerpro-2 {
  padding: 20px;
  margin-inline: 10px;
  border: 2px solid #8080804d;
  background-color: #ffff;
}

.cocogoose-font {
  font-family: "cocogoose", sans-serif;
}

.p-containerpro-1 {
  font-family: 'Lato', sans-serif;
}

.p-intro {
  font-family: 'Lato', sans-serif;
  font-size: 37px;
  color: rgb(58, 55, 55);
}

.about {
  background-color: rgba(62, 58, 58, 0.686);
  color: white;
  display: flex;
  justify-content: space-between;
}

.column {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
    height: auto;
    align-items: center;
    padding: 17px 38px 45px 12px;
    margin-top: 28px;
    padding-bottom: 30px;
}

.column2 {
  display: flex;
  flex-direction: row;
}

.p-intro-section {
  font-family: 'Lato', sans-serif;
  font-size: 37px;
}

.about-main-programs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.speaker {
  width: 100%;
  height: 100%;
}

.about-title {
  color: #ec5242;
  font-family: 'Lato', sans-serif;
}

.about-title2 {
  color: #ec5242;
  font-style: oblique;
  font-family: 'Lato', sans-serif;
}

.hr {
  width: 20%;
  border-top: 1px solid red;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 45px 0;
}

.section-p{
font-size: 20px;
}

.about header div{
  border-bottom: 1px solid #ec5242;
  width: 100px;
  margin: -6% 20% 0%  38% ;
}

.featured-speakers header div{
  border-bottom: 1px solid #ec5242;
  width: 100px;
  margin: -6% 20% 9%  38% ;
}

.red-bar {
  
}

.speakers-p{
  font-weight: 500;
    color: var(--black);
    font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .nav-desktop {
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: #ffff;
  }

  .nav-desktop a {
    background-color: #ffff;
    text-decoration: none;
    color: #344563;
  }

  .logo-img2 {
    width: 100%;
    height: 100%;
  }

  .background-intro {
    background: url(./images/background-desktop2.png) no-repeat;
    
  background-position: center;
  
  background-size: cover;
  height: 100vh;
    
  }

  .images-desktop {
    display: flex;
    flex-direction: row;
  }

  .nav-desktop2 {
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    gap: 3%;
    background-color: black;
  }

  .nav-desktop2 a {
    text-decoration: none;
    color: #ffff;
  }

  .hidding-nav {
    display: none;
  }

  .about-main-programs {
    display: flex;
    flex-direction: row;
  }

  .accordion2 {
    display: none;
  }

  .badges-contenedor {
    display: none;
  }

  .logo-img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hidding-p {
    display: none;
  }

  .logo-img2 {
    display: none;
  }
}
